@import "tailwindcss";

body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(90deg, #fead8b 30%, #ff5642);

  //background: linear-gradient(135deg, #a1c4fd, #c2e9fb);

  //background: linear-gradient(135deg, #89f7fe, #66a6ff);

  //background: linear-gradient(135deg, #1e3c72, #2a5298);

  //background: linear-gradient(135deg, #d4fc79, #96e6a1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

/* style.css */
#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
